target/
node_modules/
.DS_Store
yarn-error.log

env/.env
env/.env.development
env/.env.production
env/.env.test

client/lib/
client/build/
client/src/**/*.bs.js
client/.merlin
client/.bsb.lock
client/.graphql_ppx_cache
client/.linaria-cache
